<!DOCTYPE html>
<html>
  <!-- how to hack google forms/sheets: https://www.youtube.com/watch?v=cOgUder1B6k -->
  <!-- blog how to on google sheets api: https://blog.usejournal.com/how-to-use-google-sheets-as-a-cms-or-a-database-f9d8e736fdce -->
  <!-- google sheets api: https://console.cloud.google.com/apis/api/sheets.googleapis.com/overview?project=animated-codex-140623&folder&organizationId -->
  <!-- docs on managing account keys, i.e. Flash Cards-90cc....json https://cloud.google.com/iam/docs/understanding-service-accounts?hl=en_US#managing_service_account_keys-->

  <head>
    <script src="http://cdn.jsdelivr.net/vue/2.0.3/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
    <link rel="stylesheet" href="./styles.css">
  </head>
  <body>


    <div id="app">
      <div v-for="fCard in cards">
        <div v-on:click="fCard.revealed = !fCard.revealed" class="card f-card">
          <div class="card-body card-content">
            <p v-if="!fCard.revealed"><b>{{ fCard.prompt }}</b></p>
            <p v-else class="card-text" v-html="fCard.answer"><p>
          </div>
        </div>
      </div>

      <button v-if="!showNewCardForm" v-on:click="showNewCardForm = true" class="btn btn-default" style="margin: 0 auto; width: 100%;">
        <i class="fa fa-2x fa-plus-circle"></i>
      </button><br/>
      <div v-show="showNewCardForm" class="card f-card">
        <div class="card-body card-content">
          <form>
            <div class="form-group">
              <div class="label">Prompt:</div>
              <textarea class="form-control" rows=2 cols=60></textarea>
            </div>
            <div class="form-group">
              <div class="label">Answer:</div>
              <textarea class="form-control"></textarea>
            </div>
            <div class="form-group">
              <div class="label">Tags:</div>
              <input type="text" class="form-control">
            </div>
          </form>
        </div>
      </div>
    
      <button v-on:click="toggleCarrot()">Toggle Carrot</button>
      <div v-show="showCarrot" style="position: sticky; top:0; left: 20px">Carrot<i class="fa fa-carrot fa-3x"></i></div>
      <div v-show="!showCarrot">Don't show carrot.</div>
      <div>showCarrot var val: {{showCarrot}}</div>
    </div><!-- end vue app -->

    <!-- Warning: html below NOT IN APP!!! -->

    <script src="main.js"></script>
    
  </body>
</html>