/* css vars */
:root {
    --seaGreen: #44c87f;
    --appleRed: #c52607;
    --appleWhite: #fff8e6;
    --offWhiteBlue: #e1f5ff;
    --orangeCream: #ffe5b6;
    --orangeCreamShadow: #c7a361;

}

[v-cloak] {
  display: none;
}

body { 
    background-color: var(--orangeCream);
}
.navbar-toggler {
    border: none;
    
}
.navbar-toggler:focus {
    border: none;
    box-shadow: none;
    border-color: none;
}

.first-container {
    height: 100%;
    margin: 65px 15px;
}
.second-container {
    margin: 0 auto;
}

.display-toggler {
    position: absolute;
    top: 65px;
    right: 10px;
}

.nextPrevRow {
    margin: 10px auto;
    max-width: 586px;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.red-prompt {
    /* background-color: darkslateblue;
    color: var(--appleWhite); */
    background-color: white;
    /* color: var(--appleWhite); */
}
.apple-answer {
    background-color: var(--appleWhite);
}

pre {
    font-family: monospace;
    background-color: #444;
    color: var(--seaGreen);
    padding: 5px;
    border-radius: 3px;
    text-align: left;
}

span.action-danger {
    color: red;
    cursor: pointer;
}
span.action-default {
    color: var(--seaGreen);
    cursor: pointer;
}
span.action:hover {
    text-shadow: 0 0 2px #DDD;
}

.prompt {
    font-weight: bold;
}
.answer {
    width: 100%;
}
.button-container {
    justify-content: space-evenly;
}

.bg-light-blue {
    display: flex;
    background-color: #00adff;
}

/* Bootstrap overrides */
.card {
    border: none;
}

/* Media Queries */
/* smallest devices */
@media (max-width: 575px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}